.PostsIndex-controls {
  margin-bottom: 1em;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.PostsIndex-controls__searchbar {
  float: left;
}

.PostsIndex-controls__button {
  float: right;
  width: 7em;
}
