.PostsIndex {

  .Controls {

    margin-bottom: 1em;

    .SearchBar {
      float: left;
    }

    .btn {
      float: right;
      width: 7em;
    }

  }

  .Controls:after {
    content: "";
    display: block;
    clear: both;
  }

}
