.Header {

  height: 5em;

  .Title {
    float: left;
    height: 100%;
    margin : 0;
    padding: 0;
    position: relative;
  }

  .Title > h1 {
    width: 8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
  }

  .Logo {
    height: 100%;
    float: left;
    margin-right: 1em;
  }

}

.Header:after {
  content: "";
  display: block;
  clear: both;
}
