.Header {

  height: 5em;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .Logo {
    height: 5em;
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

}

.Header__user {
  float: right;
  text-align: right;
}

.Header__title {
  float: left;
  height: 5em;
  margin : 0;
  padding: 0;
}
