.Post-controls {
  margin-bottom: 0;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.Post-controls__button {
  width: 5em;
  float: right;
  margin-left: 0.5em;
}

.Post--highlighted {
  background: rgb(225, 225, 225);
}
