
.Post {

  .Controls {
    margin-bottom: 0;
  }

  .Controls:after {
    content: "";
    display: block;
    clear: both;
  }

  .Controls .btn {
    width: 5em;
    float: right;
    margin-left: 0.5em;
  }

}

.Post.Highlight {
  background: rgb(225, 225, 225);
}
